﻿@using CourseBase.Entities

@model List<Work>

@{ 
    ViewBag.Title = "Works list";
}

<div class="row">
    <div class="col-md-12">
        <h2>Works</h2>
        <table class="table tabel-bordered">
            <tr>
                <th style="width: 50px;">Actions</th>
                <th>Title</th>
                <th style="width: 50px;">Count</th>
            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="~/Course/Index/@c.IdW"><i class="glyphicon glyphicon-eye-open"></i>View</a></li>
                                <li><a href="~/Work/Edit/@c.IdW"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Work/Remove/@c.IdW"><i class="glyphicon glyphicon-trash"></i> Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>@c.TitleW</td>
                    <td>@c.Courses.Count()</td>
                </tr>
            }
        </table>
    </div>
</div>