﻿@using CourseBase.Models
@using CourseBase.Entities;
@model CheckModel

@{
    ViewBag.Title = "Check course";
    var tryget = ViewBag.TryGet == null ? false : true;
}

<div class="row">


    <h2>@ViewBag.Title</h2>

    <form action="~/Views/Course/Check" method="post">
        @Html.AntiForgeryToken()
        <br />
        <div style="font-size: 25px;">Enter course No.</div>

        <div class="col-md-8">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-lg", style = "width:100% !important" } })

            <br />
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <br />
        <div class="col-md-8">
            <input type="submit" value="Check" class="btn btn-primary btn-lg btn-block" />
        </div>

    </form>
    <div style="clear:both"></div>
    @if (tryget)
    {
        <br />
        <hr />
        var c = ViewBag.Cert as Course;
        if (c != null)
        {
            <div class="alert alert-info">
                <h4>@ViewBag.Message</h4>
                <div>Title: @c.TitleC</div>
                <div>Event: @c.Work.TitleW</div>
                <div>Date: @c.DateC</div>

                @if (!string.IsNullOrEmpty(c.PathC))
                {
                    <a href="~/Course/Download/@c.IdC" class="btn btn-default"><i class="glyphicon glyphicon-download"></i> Download</a>
                }
            </div>
        }
        else
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }
    }


</div>