﻿@using CourseBase.Entities

@model List<Course>

@{
    ViewBag.Title = "Course list";
    var _work = ViewBag.Work as Work;
}

<div class="row">
    <div class="col-md-12">
        <h2>Course of Work: <i>@_work.TitleW</i></h2>
        <table class="table tabel-bordered">
            <tr>
                <th style="width: 50px;">Actions</th>
                <th>Title</th>
                <th>Date</th>
                <th>Pub. By</th>
                <th>No.</th>
            </tr>
            @foreach (var s in Model)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="~/Course/Edit/@s.IdC"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Course/Remove/@s.IdC"><i class="glyphicon glyphicon-trash"></i> Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>@s.TitleC</td>
                    <td>@s.DateC.ToString()</td>
                    
                </tr>
            }
        </table>
    </div>

</div>