﻿@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <br />
    <h1>Курсова робота</h1>
    <table class="table">
        <tr class="header">
            <td><p>Номер пункту</p></td>
            <td><p>Назва пункту</p></td>
            <td><p>Автор</p></td>
            <td><p>Дата завантаження</p></td>
            <td><p>Файл</p></td>
        </tr>
     </table>


    <a type="button"
       class="btn btn-danger"
       href="#article-editor"
       data-toggle="modal">Click me</a>

    <link rel="stylesheet"
          href="@Url.Content("~/Content/bootstrap.min.css")"></link>
    <link rel="stylesheet"
          href="@Url.Content("~/Content/Styles/bootstrap-responsive.min.css")"></link>

    <script src="@Url.Content("~/Content/Scripts/jquery-1.8.3.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"
            type="text/javascript"></script>

    <div class="modal fade" id="article-editor" ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Title of the form</h3>
        </div>
        <div class="modal-body">
            <p>Body of the form</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save Changes</a>
        </div>
    </div>

    <style>
        #container .modal.fade {
            left: -25%;
            -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
            -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
        }

            #container .modal.fade.in {
                left: 50%;
            }
    </style>
    <style>
        #container .modal-body {
            max-height: 50px;
        }
    </style>
    #article-editor {
    width: 600px;
    margin-left: -300px;
    margin-right: -300px;
    }

</div>
