﻿@{
    ViewBag.Title = "Home Page";
}



    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/bootstrap.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>



    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1></h1>
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container w">
        <div class="row centered">
            <br><br>
            <div class="col-lg-4">
                <i class="fa fa-heart"></i>
                <p></p>
                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal"><h4>Переглянути</h4></button>
                <p>Переглянути сторінку з власним роботами, завантаженими на сайт.</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-laptop"></i>
                <p></p>


                <button class="btn btn-success" data-toggle="modal" data-target="#myModal"><h4>Завантаження</h4></button>
                <div class="row centered">
                    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Завантаження файлів</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <a href="#" data-toggle="modal" data-target="#upload-avatar" class="button"><i class="fa fa-plus"></i>Завантаження розділу курсової роботи</a>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" />
                        </div> 
                        <script>
                            $('#txtUploadFile').on('change', function (e) {
                                var files = e.target.files;
                                var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++) {
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: '/MyController/UploadFile?id=' + myID,
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function (result) {
                                                console.log(result);
                                            },
                                            error: function (xhr, status, p3, p4) {
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }
                            });
                        </script>


                    </div>
                    <div id="push"></div>
                    <p>Завантаження файлів курсової роботи для перевірки науковим керівником</p>
                </div>
            </div>

            <div class="col-lg-4">
                <i class="fa fa-trophy"></i>
                <p></p>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><h4>Терміни</h4></button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Терміни здачі курсової роботи</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <h2>Курсову роботу слід здати через</h2>
                                <p id="demo"></p>
                                <script>
                                    var countDownDate = new Date("Dec 30, 2017 15:30:00").getTime();
                                    var x = setInterval(function () {
                                        var now = new Date().getTime();
                                        var distance = countDownDate - now;
                                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                        document.getElementById("demo").innerHTML = days + " днів, " + hours + " годин, "
                                            + minutes + " хвилин, " + seconds + " секунд";
                                        if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById("demo").innerHTML = "EXPIRED";
                                        }
                                    }, 1000);
                                </script>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Перевірка термінів виконання розділів курсової роботи</p>
            </div>
        </div>
        <br><br>
    </div>
