﻿
@{
    ViewBag.Title = "Timer";
}

<h2>Timer</h2>
<link rel="stylesheet"
      href="@Url.Content("~/Content/Styles/bootstrap.min.css")"></link>
<link rel="stylesheet"
      href="@Url.Content("~/Content/Styles/bootstrap-responsive.min.css")"></link>

<script src="@Url.Content("~/Content/Scripts/jquery-1.8.3.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/bootstrap.min.js")"
        type="text/javascript"></script>

<div class="modal fade" id="article-editor"">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Title of the form</h3>
    </div>
    <div class="modal-body">
        <p>Body of the form</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save Changes</a>
    </div>
</div>
